.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 200px 1fr 100px;
  grid-template-areas: "header" "inputs" "collections" "footer";
}

.header {
  grid-area: header;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "postcode" "household";
  grid-area: inputs;
}

.postcode {
  grid-area: postcode;
}

.household {
  grid-area: household;
}

.collections {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "collection1" "collection2" "collection3";
  grid-area: collections;
}

.collection1 {
  grid-area: collection1;
}

.collection2 {
  grid-area: collection2;
}

.collection3 {
  grid-area: collection3;
}

.footer {
  grid-area: footer;
}

@media screen and (min-width: 769px) {
  .inputs {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "household postcode";
  }

  .collections {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "collection1 collection2 collection3";
  }
}
