.cookie-info {
  background-color: #ffc35c;
  display: flex;
  justify-content: space-between;
}

.cookie-info button {
  margin: 0.5rem;
}

.cookie-info button {
  background: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}
